*{
	margin: 0;
	padding: 0;
}

td{
	padding-left: 20;
}

th{
	padding-top: 20;
	padding-left: 20;
}
/* .adminpage {
	margin-top: 17rem !important;
	padding-top: 20rem !important;
}

.mt-3{
	padding-top: 20rem !important;
} */

form.embed-responsive.p-3 {
    height: 100% !important;
}

/* .adminpage{
	display: flex !important;
} */